body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.footer-copyright {
  margin-top: 30px;
  border-top: 1px solid #e2e2e2;
  padding: 21px 0 0;
}

.comment-list-panel .panel {
  margin-top: 35px;
  margin-bottom: 0;
}

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}
.post {
  padding: 35px;
  background: #f5f5f5;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}

.post .post-head {
  text-align: center;
}
.post .post-head .post-title {
  margin: 0;
  font-size: 2.0em;
  line-height: 1em;
}
.post .post-head .post-title a {
  color: #303030;
}
.post .post-head .post-title a:hover,
.post .post-head .post-title a:focus {
  text-decoration: none;
}
.post .post-head .post-meta {
  color: #959595;
  margin: 14px 0 0px;
}
.post .post-head .post-meta span {
  margin: 0px 7px;
  white-space: nowrap;
}
.post .featured-media {
  margin-top: 30px;
  overflow: hidden;
}
.post .featured-media img {
  width: 100%;
}
.post .post-content {
  margin: 30px 0;
}
.post .post-footer {
  margin-top: 30px;
  border-top: 1px solid #919191;
  padding: 21px 0 0;
}
.post .post-footer .tag-list {
  color: #18bc9c;
  line-height: 28px;
}
.post .post-footer .tag-list a {
  color: #919191;
  margin-left: 7px;
}
.post .post-footer .tag-list a:hover {
  color: #18bc9c;
}

/* =========sidebar========= */
.sidebar .widget {
  background: #f5f5f5;
  padding: 21px 30px;
}

.sidebar li{
  margin: 7px;
}

.main-footer .widget {
  padding: 0px 30px;
}
.widget {
  margin-bottom: 35px;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #919191;
  margin-bottom: 21px;
  position: relative;
}

.widget-tag-cloud a {
  color: #ffffff;
}

.widget-tag-cloud span {
  margin: 0 7px 7px 0;
}