{% extends 'base.html' %}
{% block title %}文章详情：{{ post.title }}{% endblock title %}
{% block main %}
    <article class="post post-{{ post.pk }}">
        <div class="post-head">
            <h1 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
            <div class="post-meta">
                <span class="author">作者：{{ post.author }}</span>
                <time class="post-date" datetime="{{ post.created_time }}"> {{ post.created_time }}</time>
                <span> {{ post.comment_set.count }} 评论</span>
                <span> {{ post.views }} 阅读</span>
            </div>
        </div>
        <div class="post-content clearfix">
            {{ post.body | safe }}
        </div>
        <footer class="post-footer clearfix">
            <div class="pull-left tag-list">
                分类 :<a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a>
            </div>
            <div class="pull-right tag-list">
                Tag : {% for tag in post.tags.all %}<a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>{% endfor %}
            </div>
        </footer>
        <br/>
        <P><a href="{% url 'blog:email_share' post.pk %}">通过邮件分享这篇文章</a></P>
    </article>
    <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表评论</h3>
        <form action="{% url 'comments:post_comment' post.pk %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <fieldset>
            <div class="form-group">
                <label for="{{ form.name.id_for_label }}" class="col-lg-2 control-label">名字：</label>
                <div class="col-lg-5">
                    <input type="text" class="form-control" name="name">
                    {{ form.name.errors }}
                </div>
            </div>
            <div class="form-group">
                <label for="{{ form.text.id_for_label }}" class="col-lg-2 control-label">评论：</label>
                <div class="col-lg-10">
                    <textarea class="form-control" rows="5" name="text"></textarea>
                    {{ form.text.errors }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">发表</button>
                </div>
            </div>
            </fieldset>
        </form>
        <br/>
        <div class="comment-list-panel">
            <h3>评论列表，共 <span>{{ post.comment_set.count }}</span> 条评论</h3>
                {% for comment in comment_list %}
                <div class="panel panel-default">
                    <div class="panel-heading">{{ forloop.counter }}. {{ comment.name }}： <span class="pull-right">{{ comment.created_time }}</span></div>
                    <div class="panel-body">
                        {{ comment.text }}
                    </div>
                </div>
                {% empty %}
                暂无评论！
                {% endfor %}
        </div>
    </section>
{% endblock main %}
{% block toc %}
<div class="widget">
    <h3 class="title">文章目录</h3>
        {{ post.toc | safe }}
</div>
<div class="widget">
    <h3 class="title">相关文章推荐</h3>
    <ul>
        {% for post in sim_post %}
        <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </li>
        {% empty %}
        暂无相关文章！
        {% endfor %}
    </ul>
</div>
{% endblock toc %}




