{% extends 'base.html' %}
{% block main %}
{% for post in post_list %}
    <article id=107 class="post tag-zhuti tag-zhu-shou-han-shu">
        <div class="post-head">
            <h1 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
            <div class="post-meta">
                <span class="author">作者：{{ post.author }}</span>
                <time class="post-date" datetime="{{ post.created_time }}"> {{ post.created_time }}</time>
                <span> 4 评论</span>
                <span> 588 阅读</span>
            </div>
        </div>
        <div class="post-content">
            <p>{{ post.excerpt }}</p>
        </div>
        <div>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">阅读全文</a>
        </div>
        <footer class="post-footer clearfix">
            <div class="pull-left tag-list">
                分类 :<a href="#">{{ post.category.name }}</a>
            </div>
            <div class="pull-right tag-list">
                Tag : <a href="#">主题</a>, <a href="#">助手函数</a>
            </div>
        </footer>
    </article>
    {% empty %}
        <div class="no-post">暂时还没有文章</div>
    {% endfor %}
{% endblock %}