{% extends 'base.html' %}
{% block main %}
    {% if error_msg %}
        <p>{{ error_msg }}</p>
    {% endif %}
    {% for post in post_list %}
    <article id={{ post.pk }} class="post">
        <div class="post-head">
            <h1 class="post-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h1>
            <div class="post-meta">
                <span class="author">作者：{{ post.author }}</span>
                <time class="post-date" datetime="{{ post.created_time }}"> {{ post.created_time }}</time>
                <span> {{ post.comment_set.count }} 评论</span>
                <span> {{ post.views }} 阅读</span>
            </div>
        </div>
        <div class="post-content">
            <p>{{ post.excerpt }} ...</p>
        </div>
        <div>
            <a href="{{ post.get_absolute_url }}" class="btn btn-primary">阅读全文</a>
        </div>
        <footer class="post-footer clearfix">
            <div class="pull-left tag-list">
                分类 :<a href="{% url 'blog:category' post.category.pk %}">{{ post.category.name }}</a>
            </div>
            <div class="pull-right tag-list">
                Tag : {% for tag in post.tags.all %}<a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a>{% endfor %}
            </div>
        </footer>
    </article>
    {% empty %}
        <div class="no-post">暂时还没有文章</div>
    {% endfor %}
    {%  if is_paginated %}
    <ul class="pagination">
        <li{% if not page_obj.has_previous %} class="disabled"{% endif %}>
            <a href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}">
                &laquo;
            </a>
        </li>
    {% if first %}
        <li><a href="?page=1">1</a></li>
    {% endif %}
    {% if left %}
        {% if left_has_more %}
            <li><span>...</span></li>
        {% endif %}
        {% for i in left %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
    {% endif %}
    <li class="active"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
    {% if right %}
        {% for i in right %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endfor %}
        {% if right_has_more %}
            <li><span>...</span></li>
        {% endif %}
    {% endif %}
    {% if last %}
        <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
    {% endif %}
        <li{% if not page_obj.has_next %} class="disabled"{% endif %}>
            <a href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}">
                &raquo;
            </a>
        </li>
    </ul>
    {% endif %}
{% endblock %}